* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-size: 16px;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 300;
}

.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario,
.contenedor .div-listado {
    width: 80%; /* Ajusta según tus necesidades */
    margin: 15px 0;
}

.contenedor .div-formulario {
    background-color: rgb(135, 132, 132);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-listado {
    background-color: rgb(135, 132, 132);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    padding-left: 3%;
}

.contenedor .div-formulario h2,
.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-formulario form,
.contenedor .div-listado .div-empleados {
    width: 100%;
}

.contenedor .div-formulario form input,
.contenedor .div-listado .div-empleados p {
    width: 90%;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 3%;
}

.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 3%;
}

.contenedor .div-listado .div-empleados {
    padding: 0 2%;
}

.contenedor .div-listado .div-empleados p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

.contenedor-pregunta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor-pregunta .publicacion,
.contenedor-pregunta .comentarios {
    width: 80%; /* Ajusta según tus necesidades */
    box-sizing: border-box;
}

.seccion-publicacion,
.seccion-comentarios {
    margin-bottom: 10px;
}

.seccion-publicacion p {
    color: #ffc9c9;
    font-size: 1.4em;
}

.seccion-comentarios input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
}

.comentarios {
    padding-left: 7%;
}

.btn,
.btn-editar,
.btn-eliminar,
.btn-comentar {
    padding: 10px;
    border-radius: 3%;
}

@media (max-width: 768px) {
    .contenedor .div-formulario,
    .contenedor .div-listado {
        width: 100%;
    }

    .contenedor-pregunta .publicacion,
    .contenedor-pregunta .comentarios {
        width: 100%;
    }

    .contenedor .div-formulario form input,
    .contenedor .div-formulario form button,
    .contenedor .div-listado .div-empleados p,
    .seccion-comentarios input {
        width: 100%;
    }
}
